@model List<EntityLayer.Concrete.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutDashboard.cshtml";
}

<link rel="stylesheet" href="~/Content/color-admin/assets/plugins/lightboxgallery/css/lightboxgallery-min.css" />

<div class="lightboxgallery-gallery clearfix bg-white shadow">
    @foreach (var item in Model)
    {
        string url = item.Url;
        string name = item.Name;
        int description = item.Id;


        <a class="lightboxgallery-gallery-item" target="_blank" href="@url" data-title="@name" data-alt="@name" data-desc="@description">
            <div>
                <img src="@url" title="@name" alt="@name" style="width: auto; height: 371px;">
                <div class="lightboxgallery-gallery-item-content">
                    <span class="lightboxgallery-gallery-item-title">@name</span>
                </div>
            </div>
        </a>

    }
</div>

<!--lightboxgallery-->
<script src="~/Content/color-admin/assets/plugins/lightboxgallery/js/lightboxgallery-min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.lightboxgallery-gallery-item', function (event) {
            event.preventDefault();
            $(this).lightboxgallery({
                showCounter: true,
                showTitle: true,
                showDescription: true
            });
        });
    });
</script>