@model EntityLayer.Concrete.Reservation

<section class="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title position-relative">
                    <h1>Make Reservation</h1>
                    <hr>
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="shape shape1"></div>
                            <div class="shape shape2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="book_table_inner row align-items-center">
            <div class="offset-lg-2 offset-md-1 col-lg-8 col-md-10">
                <div class="table_form">
                    @using (Html.BeginForm("Add", "Reservation", FormMethod.Post, new { @class = "book_table_form row" }))
                    {
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Enter your name" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter email address" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Phone Number" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextAreaFor(x => x.Message, 5, 0, new { @class = "form-control", @placeholder = "Message" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", @type = "datetime-local" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", @type = "datetime-local" })
                        </div>
                        <div class="form-select">
                            @Html.DropDownListFor(x => x.EventId, (IEnumerable<SelectListItem>)ViewBag.Event, "Select Event")
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" value="submit" class="btn submit_btn form-control">Make Reservation</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>