@model List<EntityLayer.Concrete.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutDashboard.cshtml";

    int i = 0;
}

@if (Model.Count() != 0)
{
    <table class="table table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th width="20"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.Name</td>
                    <td>
                        <a href="@Url.Action("Detail","Events",new { id = item.Id })" data-toggle="tooltip" data-original-title="Detail">
                            <i class="fa fa-file-text-o color-muted m-r-5"></i>
                        </a>

                        <a href="@Url.Action("Edit","Events",new { id = item.Id })" data-toggle="tooltip" data-original-title="Edit">
                            <i class="fa fa-pencil color-muted m-r-5"></i>
                        </a>

                        <a href="@Url.Action("Delete","Events", new { id = item.Id })" data-toggle="tooltip" data-original-title="Delete">
                            <i class="fa fa-close color-muted m-r-5"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light-danger alert-dismissible " role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div class="alert-icon">
            <i class="icon-check"></i>
        </div>
        <div class="alert-message">
            <span><strong>Danger!</strong> There is no content</span>
        </div>
    </div>
}